.LED_container {
    display:flex;
    flex-wrap:wrap;
    width:min(80vw, 80vh);
    height:min(80vw, 80vh);
    gap:0px;
}
.LED_row {
    width:min(80vw, 80vh);
}
.LED {
    box-sizing:border-box;
    width:12.5%; /* 100/8 = 12.5 */
    height:100%;
    /* border:0px; */
    border:0.5px, black, solid;
}
.LED_toggled {
    background-color:red;
}